---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {%-if page.tags.size > 0 -%}
    <p> Tags:
    {%-for tag in page.tags %}
      {% assign found_tag = site.tags | where: "title", tag | first %}
      <a class="collection" href="{{ found_tag.url | relative_url }}">{{ tag }}</a>
    {%-endfor-%}
    </p>
  {%-endif-%}

  {{ content }}
</article>